<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Loan Prediction System</title>
  </head>
  <h1 class="text-center">Loan Prediction Result</h1>
<body>
    <h1 style = "font-size:50px; color: green; " class="text-center"><b>The loan amount that might get sanctioned is {{pred}} $ </b></h1>
    <br><br><br><br>
    <p>*Note this system is aproximately 95% accurate. </p>
</body>
</html>